body {
    background-color: #2e5266; 
}

h1 {
    color: #4D7298;
    margin-top: 0;
    margin-bottom: 25px;
}

h3 {
    color: black;
}

.rightColumnTitle {
    color: black;
}

p {
    color: black;
    font-size: 20px;
}

nav {
    background-color: #4D7298;
}

.menu button {
    font-weight: bold;
    background-color: #9DC3C2;
}

button:hover {
    background-color: #4D7298;
}

a {
    color: #2e5266;
}

a:hover {
    font-weight: bold;
    color: #D0EFB1;
}

.hero { 
    background-color: #9DC3C2; 
    text-align: center;
    margin-top: 20%;
    border-radius: 5px;
    z-index: 500;
    padding: 5%;

}

img {
    display: block;
    margin: 20px auto; 
    max-width: 90%; 
    height: auto; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

.page3rightColumn {
    background-color: #4D7298; 
}

.page3leftColumn, .page3rightColumn {
    flex: 1;
    padding: 10%;
    box-sizing: border-box;
}

.card {
    background: linear-gradient(#77A6B6, #D0EFB1);
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: top;
}

#cityInput {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
}

#weatherButton {
    background-color: #2e5266;
    font-weight: bolder;
    font-size: 1rem;
    padding: 10px;
    color: #D0EFB1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.page3RightColumn {
    background: #4D7298;
    padding: 25px;
    
  }

  .errorDisplay {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.537);
    font-weight: bolder;
}

/* for now */

.cityDisplay, .tempDisplay{
    font-size: 4rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.601);
    margin-bottom: 30px;
}

.huidityDisplay{
    font-weight: bolder;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 6rem;
}

.errorDisplay{
    font-size: 2rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.514);
}
  
/* media */

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
    .page3leftColumn, .page3rightColumn {
        padding: 5%;
    }
}
