body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 50px;
}

p{
    font-size: 1.3rem;
    margin: 15px 0;
}
#weatherForm {
    margin: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
}

button {
    background-color: rgba(137, 43, 226, 0.475);
    font-weight: bolder;
    font-size: 1rem;
    padding: 10px;
    color: rgba(0, 0, 255, 0.684);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#weatherButton {
    background-color: rgba(137, 43, 226, 0.475);
    font-weight: bolder;
    font-size: 1rem;
    padding: 10px;
    color: rgba(0, 0, 255, 0.684);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#weatherButton button:hover {
    background-color: rgba(0, 0, 255, 0.43);
    color: blueviolet;
  }

  .rightColumn {
    background: linear-gradient(rgba(0, 0, 255, 0.632), rgba(238, 130, 238, 0.528));
    padding: 50px;
    box-shadow: 2px,2px, 5px rgba(0, 0, 0, 0.429);
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

.errorDisplay {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.537);
    font-weight: bolder;
}
  