body {
    background-color: #1D2229; 
}

h1 {
    color: #C2A788;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    color: #C2A788;
    font-size: 20px;
}

nav {
    background-color: #13181e;
}

.menu button{
    font-weight: bold;
    background-color: #3A3032;
}

button:hover {
    background-color: #C2A788;
}

a {
    color: #A68B78;
}

a:hover {
    font-weight: bold;
    color: #3A3032;
}

.hero { 
    background-image: url('../CSS/headerImages/spacePage.jpg'); 
    background-size: cover; 
    background-position: center;
    text-align: center;
    margin-top: 5%;
    z-index: 500;
    padding: 5%;
}

.page2rightColumn {
    background-color: #473D3F; 
}

.page2leftColumn, .page2rightColumn {
    flex: 1;
    padding: 10%;
    box-sizing: border-box;
}

img { 
    max-width: 100%;
    height: auto; 
    border: 2px;
 }

 #generator {
    display: block; 
    margin: 0 auto; 
    align-items: center;
    padding: 5%;
    font-weight: bold;
    font-size: 50px;
    background-color: #1D2229; 
    color: #C2A788; 
    border: 2px solid #C2A788;
 }

 #generator:hover {
    background-color: #C2A788;
    color: #1D2229;
 }