
body {
    background-color: #113649; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #3100a5; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu button {
    font-weight: bold;
    background-color: #9DC3C2;
    margin: 10px;
}

.menu button:hover {
    background-color: #4D7298; 
    color: #D0EFB1;
}

a {
    
    color: inherit;
}

a:hover {
    font-weight: bold;
    color: #D0EFB1;
}

.hero {
    background-image: url('../CSS/headerImages/astroPage.jpg'); 
    background-size: cover; 
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px;
    border-bottom: 5px solid #4D7298;
}

.heroTitle {
    color: #4d00a5;
    font-size: 2.5rem;
    margin: 0;
}

.heroDescription {
    color: #8138f7;
    font-size: 1.2rem;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.leftColumn,
.rightColumn {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.leftColumn {
    background-color: #d0efb1dc; 
    color: #2e5c74;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.2);
}

.columnDataDisplay h1 {
    font-size: 1.8rem;
    color: #4d00a5;
    margin-bottom: 20px;
}

.columnDataDisplay p {
    color: #8138f7;
    font-size: 1.3rem;
    margin: 10px 0;
}

input#cityInput {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #8138f7;
    border-radius: 5px;
    margin: 10px 0;
    width: 95%;
}

button#fetchMoonPhaseBtn {
    background-color: #2e5266;
    color: #D0EFB1;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#fetchMoonPhaseBtn:hover {
    background-color: #4D7298;
    color: #9DC3C2;
}

.rightColumn {
    background-color: #4D7298;
    color: #D0EFB1;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.rightColumn h1 {
    font-size: 1.8rem;
    color: #4d00a5;
    margin-bottom: 15px;
}

.rightColumn p {
    color: #6616e7;
    font-size: 1.4rem;
    margin: 10px 0;
}

/* Media */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .leftColumn,
    .rightColumn {
        padding: 15px;
        margin-bottom: 20px;
    }

    button#fetchMoonPhaseBtn {
        width: 100%;
    }
}
