body {
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif;
    background-color: black; 
}

/* structuring Nav Bar */
nav { 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: black; 
    position: fixed; 
    max-height: 15%;
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu button {
    margin: 5%;
}

.hero { 
    background-color: blue; /*Can change or update!*/
    text-align: center;
    margin-top: 14%;
    z-index: 500;
    padding: 5%;
}






