body {
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif;
    background-color: #b4c292; 
}

/* structuring Nav Bar */
nav { 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: #736f4e; 
    position: fixed; 
    max-height: 15%;
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu button {
    margin: 5%;
    background-color: #d17a22;
    color: #4c061d;
}

a {
    font-weight: bold;
    color: #4c061d;
}

a:hover {
    color: white;
}

/* designing base hero section */
.hero { 
    background-color: #3b3923; /*Can change or update!*/
    text-align: center;
    margin-top: 5%;
    z-index: 500;
    padding: 5%;
}

/* designing base for column structure */

#heroTitle {
    color: #d17a22;
}

#heroArticle {
    color: #d17a22;
}

.content {
    color: #4c061d;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    gap: 20px;
}

.leftColumn {
    background-color: #d17a22;
}

.rightColumn {
    background-color: #4c061d;
    color: #d17a22;
}

.leftColumn, .rightColumn {
    flex: 1;
    padding: 10%;
    box-sizing: border-box;
}